<a target="_blank"
   href="{{site.github.repository_url}}/edit/{{site.branch | default: site.github.source.branch}}/{{page.path}}">
<button class="edit-button
               mdl-button
               mdl-js-button
               mdl-button--fab
               mdl-button--raised
               mdl-button--colored
               mdl-js-ripple-effect">
        <i class="material-icons">edit</i>
</button>
</a>
