<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">{{site.description | default: site.github.description}}</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="/LICENSE.html">License</a></li>
        </ul>
    </div>
</footer>
